.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px; }

main {
  min-height: 600px;
  padding: 20px 0; }

.section-text {
  margin-bottom: 20px;
  padding: 10px; }

ul, li {
  list-style-type: none;
  margin: 0; }
  ul li, li li {
    margin-right: 20px; }

.bg-1 {
  background: #dbdbdb; }

.bg-2 {
  background: lightgray; }

.bg-3 {
  background: #acacac; }

.bg-4 {
  background: #949393; }

h1, h2, h3, h4, h5, p, span {
  font-family: 'Roboto', sans-serif;
  margin: 0; }

h5 {
  font-size: 30px;
  font-weight: 700; }

p {
  font-size: 16px; }

header .nav-bar {
  background-color: #6350B1;
  padding: 5px 20px; }
  header .nav-bar .menu-container {
    height: 20px;
    margin-top: 20px; }
    header .nav-bar .menu-container svg {
      height: 100%; }

.hero {
  height: 90vh;
  background-color: #6350B1;
  position: relative; }
  .hero .hero-content {
    height: 200px; }
    .hero .hero-content svg {
      height: 100%; }
  .hero .down-arrow {
    height: 20px;
    position: absolute;
    bottom: 50px; }
    .hero .down-arrow svg {
      height: 100%; }
    .hero .down-arrow svg:hover {
      cursor: pointer; }

.main-content {
  display: flex;
  flex-direction: column;
  padding: 20px; }

.about-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px; }
  .about-container .profile-img .img-bg {
    z-index: -100;
    position: absolute;
    top: -50px; }
    .about-container .profile-img .img-bg svg {
      height: 400px; }
  .about-container .profile-img .img-container {
    width: 400px;
    height: 300px;
    position: relative;
    margin-right: 20px;
    overflow: hidden; }
    .about-container .profile-img .img-container img {
      height: 100%; }
  .about-container .profile-text {
    padding: 30px;
    margin-left: 80px; }

.work-info-container {
  margin-top: 80px; }

.work-info-box-1 {
  margin-top: 20px;
  width: 100%; }
  .work-info-box-1 .work-info-icon {
    height: 400px;
    width: 40%;
    background: #6350B1; }
  .work-info-box-1 .work-info-text {
    height: 400px;
    width: 60%;
    background: #FFE3FA; }

.work-info-box-2 {
  margin-top: 20px;
  width: 100%; }
  .work-info-box-2 .work-info-text {
    height: 400px;
    width: 60%;
    background: #FFE3FA; }
  .work-info-box-2 .work-info-icon {
    height: 400px;
    width: 40%;
    background: #6350B1; }

.projects-container {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px; }
  .projects-container .project-boxes {
    width: 100%;
    margin-top: 20px; }
    .projects-container .project-boxes .project-box {
      height: 260px;
      background: #6350B1;
      margin: 5px; }

.contact-container {
  margin: 30px 0; }
  .contact-container .profile-container {
    margin-right: 20px;
    height: 300px; }
    .contact-container .profile-container .profile-img-container {
      width: 80%;
      height: 80%; }
      .contact-container .profile-container .profile-img-container img {
        height: 100%; }
    .contact-container .profile-container .social-icons {
      margin: 10px 0; }
      .contact-container .profile-container .social-icons i {
        margin: 0 10px; }
  .contact-container .contact-heading {
    margin-bottom: 20px; }
  .contact-container .email-box .icon {
    margin-right: 10px; }

.contact-heading-sm {
  display: none; }

footer .footer {
  background: #6350B1;
  padding: 20px; }
  footer .footer span {
    color: #FFE3FA;
    font-size: 14px; }
  footer .footer a {
    color: #fff; }

footer ul {
  margin-right: 20px; }

@media screen and (max-width: 600px) {
  h1, h2, h3, h4, h5, p, span {
    text-align: center; }
  .about-container .profile-img {
    margin: 0;
    padding: 0; }
    .about-container .profile-img .img-container {
      width: 300px;
      height: 300px;
      margin-right: 0; }
  .about-container .profile-text {
    padding: 30px;
    margin-left: 20px; }
  .work-info-box-1, .work-info-box-2 {
    height: 150px; }
    .work-info-box-1 .work-info-icon, .work-info-box-1 .work-info-text, .work-info-box-2 .work-info-icon, .work-info-box-2 .work-info-text {
      height: 150px;
      width: 50%; }
  .project-box {
    height: 200px; }
  .profile-container {
    margin: 0; }
  .contact-info {
    text-align: center; }
  .contact-heading {
    display: none; }
  .contact-heading-sm {
    display: block;
    margin-bottom: 10px; }
  .email-link {
    font-size: 20px; } }
