* {
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px; }

main {
  min-height: 600px;
  padding: 20px 0; }

.section-text {
  margin-bottom: 20px;
  padding: 10px; }

ul, li {
  list-style-type: none;
  margin: 0; }
  ul li, li li {
    margin-right: 20px; }

button {
  box-shadow: 1px 3px 5px 0 rgba(88, 88, 88, 0.411); }

a:hover {
  cursor: pointer; }

h1, h2, h3, h4, h5, p, span {
  font-family: "Roboto", sans-serif;
  margin: 0; }

h1, h2, h3, h4, h5 {
  color: #6350B1; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2.2em; }

h4 {
  font-size: 2em; }

h5 {
  font-size: 1.8em; }

h6 {
  font-size: 1.5em; }

p {
  font-size: 19px;
  color: #444444; }

span {
  color: #444444; }

.menu {
  transition: 0.1s transform linear;
  position: absolute;
  background: 0;
  float: left;
  margin: 2rem;
  height: 1.7rem;
  width: 2rem;
  outline: 0;
  padding: 0;
  border: 0;
  z-index: 100; }

.bar, .bar::before, .bar::after {
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  position: absolute;
  background: #fff;
  width: 40px;
  height: 5px;
  content: '';
  top: 50%;
  left: 0;
  outline: none; }

.bar {
  margin-top: -0.1rem; }

.bar::before {
  top: -1rem; }

.bar::after {
  top: 1rem; }

.bar::before, .bar::after {
  transform: rotate(0deg); }

.active .bar {
  background: 0; }
  .active .bar::before {
    transform: rotate(45deg);
    background: #6350B1; }
  .active .bar::after {
    transform: rotate(-45deg);
    background: #6350B1; }
  .active .bar::before, .active .bar::after {
    top: 0; }
  .active .bar, .active .bar::before, .active .bar::after {
    transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s; }

.menuBtn[type=button]:focus {
  outline: none; }

nav {
  width: 300px;
  height: 100vh;
  background: #FFE3FA;
  position: absolute;
  transform: translateX(-300px);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  padding-top: 6.2em;
  z-index: 10; }
  .menu-open nav {
    transform: translateX(0); }
  nav ul {
    margin: 0;
    list-style: none;
    padding: 0; }
    nav ul li {
      padding: 20px 5px; }
      nav ul li a {
        font-size: 1em;
        color: #6350B1;
        margin-left: 30px; }
      nav ul li a:hover {
        box-shadow: 0px 7px 0 0 #6350B1;
        text-decoration: none;
        color: #505050; }

.hero {
  height: 100vh;
  background-color: #6350B1;
  position: relative; }
  .hero .hero-content {
    height: 200px; }
    .hero .hero-content svg {
      height: 100%; }

.down-arrow {
  height: 20px;
  position: absolute;
  bottom: 50px;
  z-index: 100; }
  .down-arrow svg {
    height: 100%; }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); } }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

.hero-content {
  font-size: 1em; }
  .hero-content .brackets {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fff60b; }
  .hero-content h1 {
    color: #fff; }

footer .footer {
  background: #6350B1;
  padding: 20px; }
  footer .footer span {
    color: #FFE3FA;
    font-size: 14px; }
  footer .footer a {
    color: #fff; }

footer ul {
  margin-right: 20px; }

.project-links-list a {
  font-size: 0.7em; }

.main-content {
  display: flex;
  flex-direction: column;
  padding: 20px; }
  .main-content .shapes-bg {
    height: 650px;
    overflow: hidden;
    position: absolute;
    z-index: -100; }
    .main-content .shapes-bg svg {
      height: 100%; }

.about-container {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-bottom: 80px;
  position: relative;
  z-index: 100; }
  .about-container .profile-bg {
    background: #FFF2FE;
    width: 50%;
    padding: 100px 20px;
    box-shadow: 0px 1px 5px 0 #22222261;
    position: relative; }
  .about-container .profile-img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -100px;
    margin-right: 20px;
    margin-bottom: 20px; }
    .about-container .profile-img img {
      height: 100%;
      border-radius: 100%;
      box-shadow: 1px 1px 5px 0 #22222261; }
  .about-container .profile-text {
    text-align: center;
    padding: 20px; }
    .about-container .profile-text p {
      font-size: 1.4em; }

.work-info-container {
  margin-top: 150px;
  text-align: center; }

.mobile-text {
  display: none;
  font-size: 2em;
  font-weight: 700;
  color: #FFE3FA; }

.work-info-box-1 {
  margin-top: 20px;
  width: 80%;
  box-shadow: 1px 1px 5px 0 #22222261; }
  .work-info-box-1 .work-info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 40%;
    background: #6350B1; }
    .work-info-box-1 .work-info-icon svg {
      width: 60%;
      height: 60%; }
  .work-info-box-1 .work-info-text {
    height: 300px;
    width: 60%;
    background: #FFE3FA; }

.work-info-box-2 {
  margin-top: 20px;
  width: 80%;
  box-shadow: 1px 1px 5px 0 #22222261; }
  .work-info-box-2 .work-info-text {
    height: 300px;
    width: 60%;
    background: #FFE3FA; }
  .work-info-box-2 .work-info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 40%;
    background: #6350B1; }
    .work-info-box-2 .work-info-icon svg {
      width: 60%;
      height: 60%; }

.work-info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px; }
  .work-info-text span {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: #6350B1; }

#design {
  transition: 2s ease; }

.projects-container {
  text-align: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px; }
  .projects-container .project-boxes {
    width: 100%;
    margin-top: 20px;
    position: relative; }
    .projects-container .project-boxes .project-box {
      height: 260px;
      margin: 5px;
      overflow: hidden;
      transition: .2s ease-in; }
      .projects-container .project-boxes .project-box .project-content {
        box-shadow: 1px 0px 4px 0 #a1a1a1dc;
        overflow: hidden; }
        .projects-container .project-boxes .project-box .project-content img {
          height: 100%;
          width: 100%; }

.hover-buttons {
  position: absolute;
  z-index: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  display: none; }
  .hover-buttons button {
    margin: 5px 0;
    font-family: "Roboto", sans-serif;
    background: #6350B1;
    border: none;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 100px;
    transition: .2s ease-in; }
  .hover-buttons button:hover {
    background: #fff;
    color: #6350B1;
    border: #6350B1 solid 1px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.mobile-buttons {
  display: none;
  position: absolute;
  z-index: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  display: none;
  font-size: 20px; }
  .mobile-buttons button {
    margin: 5px 0;
    font-family: "Roboto", sans-serif;
    background: #6350B1;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 100px;
    border: none; }

.project-hero {
  height: 200px;
  background: #6350B1; }
  .project-hero .hero-content {
    height: 200px; }
    .project-hero .hero-content svg {
      height: 100%; }

.project-body .project-info {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .project-body .project-info .project-image {
    overflow: hidden; }
    .project-body .project-info .project-image img {
      width: 100%; }
  .project-body .project-info .project-text {
    text-align: center;
    margin: 30px 0; }

.project-body .project-full {
  overflow: hidden;
  margin: 80px 0; }
  .project-body .project-full img {
    width: 100%; }
  .project-body .project-full .img-shadow {
    box-shadow: 0 2px 2px 0 #aaaaaa; }

.project-body .project-conclusion {
  text-align: center;
  margin: 80px 0; }

.plant {
  box-shadow: 0px 1px 20px 0 rgba(78, 78, 78, 0.507);
  margin: 20px 0; }

.img-container {
  height: 600px;
  width: 600px;
  overflow: hidden;
  margin-top: 40px; }
  .img-container img {
    width: 100%; }

.contact-container {
  margin: 30px 0;
  width: 100%;
  padding: 50px 0; }
  .contact-container .profile-container {
    height: 300px; }
    .contact-container .profile-container .profile-img-container {
      width: 80%;
      height: 80%; }
      .contact-container .profile-container .profile-img-container img {
        height: 100%;
        border-radius: 100%;
        box-shadow: 1px 1px 5px 0 #22222261; }
    .contact-container .profile-container .social-icons {
      margin: 10px 0; }
      .contact-container .profile-container .social-icons i {
        margin: 0 10px; }
  .contact-container .contact-heading {
    margin-bottom: 20px; }
  .contact-container .email-box .icon {
    margin-right: 10px; }

#submit {
  background: #6350B1;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 10px 0; }

.contact-heading-sm {
  display: none; }

.location-map iframe {
  min-height: 30vh; }

.contact-form {
  width: 80vw; }
  .contact-form iframe {
    height: 105vh;
    width: 100%; }

.text-box {
  margin: 20px 0; }
  .text-box p {
    margin: 10px 0; }

@media screen and (max-width: 700px) {
  .wrapper {
    width: 100%;
    margin: 0;
    max-width: 1000px; }
  h1, h2, h3, h4, h5, p, span {
    text-align: center; }
  p {
    font-size: 17px; }
  h1 {
    font-size: 2em; }
  h2 {
    font-size: 1.5em; }
  .hero {
    height: 80vh; }
    .hero .hero-content svg {
      height: 80%; }
  nav {
    min-height: 80vh; }
  .about-container {
    margin-bottom: 0;
    margin-top: 130px; }
    .about-container .shapes-bg {
      display: none; }
    .about-container .profile-bg {
      width: 80%;
      padding: 50px 10px; }
    .about-container .profile-img {
      width: 160px;
      height: 160px;
      top: -100px; }
  .work-info-container {
    margin-top: 50px; }
  .work-info-box-1 .work-info-icon, .work-info-box-2 .work-info-icon {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .work-info-box-1 .work-info-icon svg, .work-info-box-2 .work-info-icon svg {
      width: 50%;
      height: 50%; }
  .work-info-box-1 .work-info-text, .work-info-box-2 .work-info-text {
    display: none; }
  .work-info-box-1 .mobile-text, .work-info-box-2 .mobile-text {
    display: block; }
  .project-box {
    height: 200px; }
  .hero-content {
    font-size: 16px; }
  .project-hero {
    height: 100px; }
    .project-hero h1 {
      font-size: 1em; }
  .contact-container {
    margin: 50px 0;
    padding-top: 0; }
  .profile-container {
    margin: 0;
    padding-top: 0; }
  .contact-info {
    text-align: center; }
  .contact-heading {
    display: none; }
  .contact-heading-sm {
    display: block;
    margin-bottom: 10px; }
  .contact-form iframe {
    height: 50vh;
    width: 100%; }
  .location-map iframe {
    height: 40vh;
    width: 80vw; }
  .text-box p {
    text-align: left; }
  .modal {
    min-width: 90vw;
    padding: 0; }
  .project-body .project-info {
    margin: 10px 0; }
    .project-body .project-info .project-text {
      margin: 20px 0; }
  .project-body .project-full {
    margin: 10px 0; }
  .project-body .project-conclusion {
    margin: 20px 0; }
  .footer .menu-links ul {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 800px) {
  .mobile-buttons {
    display: flex; }
  .hover-buttons {
    display: none; }
  .project-content {
    background: #FFE3FA;
    opacity: .5; }
    .project-content img {
      opacity: .2; } }
