// VARIABLES
$main-color: #6350B1;
$secondary-color: #FFE3FA;
$links-color: #969393;


// GENERAL

// TEST BG
.bg-1 {
    background: rgb(219, 219, 219);
}
.bg-2 {
    background: rgb(211, 211, 211);
}
.bg-3 {
    background: rgb(172, 172, 172);
}
.bg-4 {
    background: rgb(148, 147, 147);
}


///////////////// HEADER //////////////////

header {
    .nav-bar {
        height: 50px;
        background-color: $main-color;
        padding: 5px 20px;

        .menu-container {
            height: 20px;
            
            svg {
                height: 100%;
            }
        }
    }
}




///////////////// HERO //////////////////

.hero {
    height: 90vh;
    background-color: $main-color;
    position: relative;
    
    .hero-content {
        height: 200px;
        
        svg {
            height: 100%;
        }
    }

    .down-arrow {
        height: 20px;
        position: absolute;
        bottom: 50px;

        svg {
            height: 100%;
        }

        svg:hover {
            cursor: pointer;
        }
    }
    
}



///////////////// MAIN CONTENT //////////////////

main {
    min-height: 800px;
    padding: 30px 0;
}


.main-content {
    display: flex;
    flex-direction: column;
    padding: 50px;
}


.about-container {
    display: flex;
    margin-bottom: 80px;

    .profile-img {
        padding: 50px;

        .img-bg svg {
            z-index: -100;
            height: 500px;
            position: absolute;
            top: -5px;
            
        }
        .img-container {
            width: 300px;
            height: 300px;
            position: relative;

            img {
                height: 100%;
            }
        }
    }  

    .profile-text {
        padding: 50px;
    }
}


///////////////// What I do //////////////////

.work-info-box-1 {
    margin-top: 20px;
    width: 100%;

    .work-info-icon {
        height: 400px;
        width: 40%;
        background: $main-color;
    }
    .work-info-text {
        height: 400px;
        width: 60%;
        background: $secondary-color;
    }
}

.work-info-box-2 {
    margin-top: 20px;
    width: 100%;

    .work-info-text {
        height: 400px;
        width: 60%;
        background: $secondary-color;
    }
    .work-info-icon {
        height: 400px;
        width: 40%;
        background: $main-color;
    }
}


///////////////// Projects //////////////////

.projects-container {
    width: 100%;

    .project-boxes {
        width: 100%;
        margin-top: 20px;

        .project-box {
            height: 400px;
            background: $main-color;
            margin-right: 10px;
        }
    }
}