// GENERAL

// TEST BG
.bg-1 {
    background: rgb(219, 219, 219);
}
.bg-2 {
    background: rgb(211, 211, 211);
}
.bg-3 {
    background: rgb(172, 172, 172);
}
.bg-4 {
    background: rgb(148, 147, 147);
}

.nav-bar {
    height: 50px;
}