// VARIABLES
$main-color: #6350B1;
$secondary-color: #FFE3FA;
$links-color: #969393;


// GENERAL

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

main {
    min-height: 600px;
    padding: 20px 0;
}
.section-text {
    margin-bottom: 20px;
    padding: 10px;
}

ul,li {
    list-style-type: none;
    margin:0;

    li {
        margin-right: 20px;
    }
}


//col-sm-#
//col-md-#
//col-lg-#

// TEST BG
.bg-1 {
    background: rgb(219, 219, 219);
}
.bg-2 {
    background: rgb(211, 211, 211);
}
.bg-3 {
    background: rgb(172, 172, 172);
}
.bg-4 {
    background: rgb(148, 147, 147);
}


//TYPE

//Roboto Sans Serif
//Light 100
//Regular 400
//Bold 700

h1,h2,h3,h4,h5,p,span {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h5 {
    font-size: 30px;
    font-weight: 700;
}

p {
    font-size: 16px;
}


///////////////// HEADER //////////////////

header {
    .nav-bar {
        background-color: $main-color;
        padding: 5px 20px;

        .menu-container {
            height: 20px;
            margin-top: 20px;
            
            svg {
                height: 100%;
            }
        }
    }
}

///////////////// HERO //////////////////

.hero {
    height: 90vh;
    background-color: $main-color;
    position: relative;
    
    .hero-content {
        height: 200px;
        
        svg {
            height: 100%;
        }
    }

    .down-arrow {
        height: 20px;
        position: absolute;
        bottom: 50px;

        svg {
            height: 100%;
        }

        svg:hover {
            cursor: pointer;
        }
    }
    
}



///////////////// MAIN CONTENT //////////////////


.main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.about-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;

    .profile-img {
        .img-bg {
            z-index: -100;
            position: absolute;
            top: -50px;
            svg {
                height: 400px;
            }
            
        }
        .img-container {
            width: 400px;
            height: 300px;
            position: relative;
            margin-right: 20px;
            overflow: hidden;

            img {
                height: 100%;
            }
        }
    }  

    .profile-text {
        padding: 30px;
        margin-left: 80px;
    }
}


///////////////// What I do //////////////////

.work-info-container {
    margin-top: 80px;
}

.work-info-box-1 {
    margin-top: 20px;
    width: 100%;

    .work-info-icon {
        height: 400px;
        width: 40%;
        background: $main-color;
    }
    .work-info-text {
        height: 400px;
        width: 60%;
        background: $secondary-color;
    }
}

.work-info-box-2 {
    margin-top: 20px;
    width: 100%;

    .work-info-text {
        height: 400px;
        width: 60%;
        background: $secondary-color;
    }
    .work-info-icon {
        height: 400px;
        width: 40%;
        background: $main-color;
    }
}


///////////////// Projects //////////////////

.projects-container {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;

    .project-boxes {
        width: 100%;
        margin-top: 20px;

        .project-box {
            height: 260px;
            background: $main-color;
            margin: 5px;
            
        }
    }
}

///////////////// Contact Me! //////////////////

.contact-container {
    margin: 30px 0;

    .profile-container {
        margin-right: 20px;
        height: 300px;

        .profile-img-container {
            width: 80%;
            height: 80%;
        
            img {
                height: 100%;
            }
        }

        .social-icons {
            margin: 10px 0;
    
            i {
                margin: 0 10px;
            }
        }
    }

    .contact-heading {
        margin-bottom: 20px;
        
    }

    .email-box {
        .icon {
            margin-right: 10px;
        }
    }  
}

.contact-heading-sm {
    display: none;
}


///////////////// FOOTER //////////////////

footer {
    .footer {
        background: $main-color;
        padding: 20px;
        
        span {
            color: $secondary-color;
            font-size: 14px;
        }
        a {
            color: #fff;
        }
    }

    ul {
        margin-right: 20px;
    }
}

///////////////// MEDIA Qs //////////////////

@media screen and (max-width:600px) {

    //Type
    h1,h2,h3,h4,h5,p,span {
        text-align: center;
    }

    //About
    .about-container {
        .profile-img {
            margin: 0;
            padding: 0;
            .img-container {
                width: 300px;
                height: 300px;
                margin-right: 0;
            }
        }   
        .profile-text {
            padding: 30px;
            margin-left: 20px;
        }
    }
    
    //What I do
    .work-info-box-1, .work-info-box-2 {
        height: 150px;

        .work-info-icon, .work-info-text {
            height: 150px;
            width: 50%;
        }
    }

    //Projects
    .project-box {
        height: 200px;
    }

    //Contact Me
    .profile-container {
        margin: 0;
    }
    .contact-info {
        text-align: center;
    }

    .contact-heading {
        display: none;
    }

    .contact-heading-sm {
        display: block;
        margin-bottom: 10px;
    }

    .email-link {
        font-size: 20px;
    }
    
}