<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Front-End Web Developer with a Graphic Design background. Focused on interactivity and User Experience">
    <meta name="keywords" content="front end, developer, website, graphic design, joanna puno, user experience, javascript, design">
    <title>Work - Fancy To-do App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>

    <!-- HEADER -->
    <header>
        <!-- NAV BAR -->
        <div class="menu-container">
                <button class="menuBtn menu" type="button">
                        <span class="bar"></span>
                </button>       
                    <nav>
                        <ul>
                            <li><a href="../index.html" ><strong>Go Back Home</strong></a></li>
                            <li><a href="../views/todo.html" >Todo App</a></li>
                            <li><a href="../views/sechelt.html" >Town of Sechelt</a></li>
                            <li><a href="../views/quoteMachine.html" >Quote Machine</a></li>
                            <li><a href="../views/newsfeed.html" >News Feed</a></li>
                            <li><a href="../views/todo.html" >My Plant Journal</a></li>
                            <li><a href="https://joannapuno.github.io/joke-machine/" >Joanna's Joke Machine</a></li>
                            <li><a href="../views/graphicDesign.html">Graphic Design Work</a></li>
                            
                        </ul>
                    </nav>
            </div>
        <!-- HERO -->
        <div class="project-hero bg-2 d-flex flex-column align-items-center justify-content-center">
                <div class="hero-content d-flex align-items-center">
                    <h1><strong class="brackets">{</strong> graphic design work <strong class="brackets">}</strong></h1>
                </div> 
            </div>
    </header>
    <!-- MAIN BODY -->
    <main>
        <div class="wrapper">
            <div class="main-content">
                <div class="graphicDesign d-flex flex-column justify-content-center align-items-center">
                    
                    <div class="img-container">
                        <img src="../img/graphicDesign/Games-Store.png" alt="games store layout">
                    </div>

                    <div class="img-container">
                        <img src="../img/graphicDesign/Games.png" alt="games store logo">
                    </div>

                    <div class="img-container">
                        <img src="../img/graphicDesign/hachi2.png" alt="typography">
                    </div>

                    <div class="img-container">
                        <img src="../img/graphicDesign/hachi.png" alt="typography">  
                    </div>

                    <div class="img-container">
                        <img src="../img/graphicDesign/Packaging_Photo.png" alt="packaging">
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <!-- FOOTER -->
    <footer>
        <div class="footer d-flex align-items-center justify-content-center row">
           <div class="menu-links">
               <ul class="d-flex">
                    <li><a href="./index.html" >Home</a></li>
                    <li><a href="./privacypolicy.html">Privacy Policy</a></li>
                    <li><a href="../views/contact.html">Contact Me</a></li>
               </ul>
           </div>
           <div class="copyright">
                <span>Joanna Puno 2018 &copy;</span>
                <span>Maraming Salamat Po!</span>
           </div> 
        </div>
    </footer>

<!-- SCRIPT TAG-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
            window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')    
    </script>
    <script src="../js/script.js"></script> 
</body>
</html>