<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Front-End Web Developer with a Graphic Design background. Focused on interactivity and User Experience">
    <meta name="keywords" content="front end, developer, website, graphic design, joanna puno, user experience, javascript, design">
    <title>Work - Sechelt Visitor Centre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>

    <!-- HEADER -->
    <header>
        <!-- HERO -->
        <div class="project-hero bg-2 d-flex flex-column align-items-center justify-content-center">
            <div class="hero-content d-flex align-items-center">
                <h1><strong class="brackets">{</strong> sechelt <strong class="brackets">}</strong></h1>
            </div> 
        </div>
    </header>
    <!-- MAIN BODY -->
    <main>
        <div class="wrapper">
            <div class="main-content">
                <div class="project-body">
                    <div class="project-info">
                        <h2>Overview</h2>
                        <div class="project-image col-lg-8 col-md-10 col-sm-12">
                            <img src=".././img/sechelt/sechelt-mock" alt="quotemachine screenshot">
                        </div>
                        <div class="project-text col-lg-8"> 
                            <p>A <strong> Customized Wordpress </strong>website for the Town of Sechelt's Visitor Centre. The visitors will get to know the town more and discover events and activities they can do in the "Land between Two Waters".</p>
                            <p><a href="http://35.188.92.2/">View it Here!</a></p>
                        </div>
                        
                    </div>

                    <div class="project-full col-lg-12">
                        <img src=".././img/sechelt/sechelt-3.png" alt="sechelt screenshot">
                    </div>

                    <div class="project-info">
                        <div class="project-text col-lg-8 col-md-10 col-sm-12">
                            <h2>Objective</h2>
                            <p>The Town of Sechelt is looking to have a website for their Visitor Centre that will invite newcomers to discover more about Sechelt. The site has to be friendly and inviting and should be able to showcase different events/activities in Sechelt.</p>
                        </div>

                        <div class="project-image col-lg-8 col-md-10 col-sm-12">
                            <img src=".././img/sechelt/sechelt-4.png" alt="sechelt screenshot">
                        </div>
                    </div>

                    <div class="project-info">
                        
                        <div class="project-text col-lg-8 col-md-10 col-sm-12">
                            <h2>Solution</h2>
                            <p>I utilized white spaces and airy typography to really get that "inviting" look. The homepage has a full-width carousel which links to different pages. The carousel has a blue overlay to reflect "water". The overall color scheme came from their friendly logo.The images are bright and friendly and showcases events, community, and nature. </p>
                        </div>
                        <div class="project-image col-lg-8 col-md-10 col-sm-12">
                            <img src=".././img/sechelt/sechelt-5.png" alt="sechelt screenshot">
                        </div>
                    </div>

                    <div class="project-conclusion col-lg-12">
                        <h2>In Conclusion</h2>
                        <p>I utilized the white spaces to have that "inviting" feel and really let the guests know that there are a lot of things to do at Sechelt.</p>
                    </div>
                </div>
                
                <!-- CONTACT SECTION -->

                <div class="contact-container d-flex flex-column justify-content-center align-items-center row">
                        <div class="contact-heading-sm">
                            <h2>Contact me</h2>
                            <p>I'd love to hear from you</p>
                        </div>
                        <div class="profile-container">
                            <div class="profile-img-container">
                                <img src="../img/profile.png" alt="joanna puno profile picture">
                            </div>
                            
                            <div class="social-icons d-flex align-items-center justify-content-center">
                                <a href="mailto:j.puno0909@gmail.com"><i class="far fa-envelope fa-lg "></i></a>
                                <a href="https://www.linkedin.com/in/joanna-puno-785402137/"><i class="fab fa-linkedin fa-lg"></i></a>
                                <a href="https://github.com/joannapuno"><i class="fab fa-github fa-lg"></i></a>
                                <a href="https://www.instagram.com/joanna.puno/"><i class="fab fa-instagram fa-lg"></i></a>
                            </div>
                        </div>
                        <div class="contact-info d-flex flex-column justify-content-center align-items-center">
                            <div class="contact-heading">
                                <h2>Contact me</h2>
                            </div>
                            <div class="float-labels-form d-flex flex-column">
                                    <form name="contactform" method="POST" action="send_form_email.php" class="form">
            
                                        <div class="form-field">
                                            <input type="text" name="name"  id="name">
                                            <label for="name">Name</label>
                                          </div>
            
                                          <div class="form-field">
                                            <input type="email" name="email"  id="email">
                                            <label for="email">Email</label>
                                          </div>
            
                                          <div class="form-field">
                                            <input type="text" name="message"  id="message">
                                            <label for="message">Message</label>
                                          </div>
                                        
                                    
                                          <div class="form-field">
                                            <input type="submit" name="submit" value="Submit">
                                          </div>
                                        
                                    </form>
                            </div>
                        </div>
                    </div>
            </div>
        </div> 
    </main>
    
    <!-- FOOTER -->
    <footer>
        <div class="footer d-flex align-items-center justify-content-center row">
           <div class="menu-links">
               <ul class="d-flex">
                    <li><a href="./index.html" >Home</a></li>
                    <li><a href="#down">About Me</a></li>
                    <li><a href="#downWork">Work</a></li>
                    <li><a href="./privacypolicy.html">Privacy Policy</a></li>
                    <li><a href="#downContact">Contact Me</a></li>
               </ul>
           </div>
           <div class="copyright">
                <span>Joanna Puno 2018 &copy;</span>
           </div> 
        </div>
    </footer>

<!-- SCRIPT TAG-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
            window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')    
    </script>
    <script src="../js/script.js"></script> 
</body>
</html>