<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Front-End Web Developer with a Graphic Design background. Focused on interactivity and User Experience">
    <meta name="keywords" content="front end, developer, website, graphic design, joanna puno, user experience, javascript, design">
    <title>Work - Fancy To-do App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png"/>
</head>
<body>

    <!-- HEADER -->
    <header>
        <!-- NAV BAR -->
        <div class="menu-container">
                <button class="menuBtn menu" type="button">
                        <span class="bar"></span>
                </button>       
                    <nav>
                        <ul>
                            <li><a href="../index.html" ><strong>Go Back Home</strong></a></li>
                            <li><a href="../views/todo.html" >Todo App</a></li>
                            <li><a href="../views/sechelt.html" >Town of Sechelt</a></li>
                            <li><a href="../views/quoteMachine.html" >Quote Machine</a></li>
                            <li><a href="../views/newsfeed.html" >News Feed</a></li>
                            <li><a href="../views/plant.html" >My Plant Journal</a></li>
                            <li><a href="https://joannapuno.github.io/joke-machine/" >Joanna's Joke Machine</a></li>
                            <li><a href="../views/graphicDesign.html">Graphic Design Work</a></li>
                            
                        </ul>
                    </nav>
            </div>
        <!-- HERO -->
        <div class="project-hero bg-2 d-flex flex-column align-items-center justify-content-center">
                <div class="hero-content d-flex align-items-center">
                    <h1><strong class="brackets">{</strong> fancy todo <strong class="brackets">}</strong></h1>
                </div> 
            </div>
    </header>
    <!-- MAIN BODY -->
    <main>
        <div class="wrapper">
            <div class="main-content">
                <div class="project-body">
                    <div class="project-info">
                        <h2>Overview</h2>
                        <div class="project-image col-lg-8 col-md-8 col-sm-12">
                            <img src=".././img/fancyTodo/todo-mock-web.png" alt="quotemachine screenshot">
                        </div>
                        <div class="project-text col-lg-8 col-md-8 col-sm-12"> 
                            <p>What kind of developer am I without a todo-app? This is a Case Studies on Javascript Frameworks through A Fancy Todo App!</p>
                            <p><a href="https://joannapuno.github.io/fancy-todo/">View the Vue.js Version here!</a></p>
                            <p><a href="https://expo.io/@joannapuno/fancytodo2">View the React Native Version here!</a></p>
                        </div>
                        
                    </div>

                    <div class="project-full col-lg-12">
                        <img src=".././img/fancyTodo/todo-1.png" alt="todo screenshot">
                    </div>

                    <div class="project-info">
                        <div class="project-text col-lg-8 col-md-8 col-sm-12">
                            <h2>Goal/Objective</h2>
                            <p>The goal of this project is to experiment with Vue.js for Web apps and React Native for mobile apps to create a simple app.</p>
                        </div>

                        <div class="project-image col-lg-5 col-md-8 col-sm-12">
                            <img src=".././img/fancyTodo/react-native.gif" alt="todo screenshot">
                        </div>
                    </div>

                    <div class="project-info">
                        
                        <div class="project-text col-lg-8">
                            <h2>Solution</h2>
                            <p>By creating a Todo-app, I will be able to use the concept of CRUD which is the essential of most apps. With this, I get to familiarize myself on how these frameworks handle this concept. I chose to do a web app and a mobile app to be able to know the process of how to do the same app on different platforms.</p>
                        </div>
                        <div class="project-image col-lg-8">
                            <img src=".././img/fancyTodo/todo-4.png" alt="todo screenshot">
                        </div>
                    </div>
                    <div class="project-info">
                        
                        <div class="project-text col-lg-8 col-md-8 col-sm-12">
                            <h2>My Thoughts</h2>
                            <p><strong>Vue.js</strong>
                                Really amazing documentation.I really enjoyed how it was not as invasive as others. I can even just attach a small line of code to my HTML.However, because it is new, there aren't a lot of community support for it yet.</p> <br>
                            <p><strong>React Native</strong> - Since I jumped to React Native right away before learning React, it took me a while to just even set it up. The whole mobile development process was totally new to me. React Native has a lot of community support and flexibility. It's quite easy to get into it once you get the concept and very easy to understand as well. It also uses ES6/7 which made it a big learning tool for me. The documentation is a bit confusing and unclear at times. I also found out that some components might not work because of an update which apparently, happens a lot. </p>
                        </div>
                        <div class="project-image col-lg-8 col-md-8 col-sm-12">
                            <img src=".././img/fancyTodo/todo-4.png" alt="todo screenshot">
                        </div>
                    </div>
                    <div class="project-conclusion col-lg-12">
                        <h2>In Conclusion</h2>
                        <p>This case studies project helped me be more familiar with Vue and React.While I can't really compare the two because of how different they are their purposes are, there are definitely a lot of freedom with React Native. However, I enjoy Vue's simplicity and non-invasive nature.Overall, I got to experience working on different work processes, so that was fun!</p>
                    </div>
                </div>
            </div>
        </div> 
    </main>
    
    <!-- FOOTER -->
    <footer>
        <div class="footer d-flex align-items-center justify-content-center row">
           <div class="menu-links">
               <ul class="d-flex">
                    <li><a href="./index.html" >Home</a></li>
                    <li><a href="./privacypolicy.html">Privacy Policy</a></li>
                    <li><a href="../views/contact.html">Contact Me</a></li>
               </ul>
           </div>
           <div class="copyright">
                <span>Joanna Puno 2018 &copy;</span>
                <span>Maraming Salamat Po!</span>
           </div> 
        </div>
    </footer>

<!-- SCRIPT TAG-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
            window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')    
    </script>
    <script src="../js/script.js"></script> 
</body>
</html>