///////////////// MEDIA Qs //////////////////

@media screen and (max-width:700px) {
    .wrapper {
        width: 100%;
        margin: 0;
        max-width: 1000px;
    }

    //Type
    h1,h2,h3,h4,h5,p,span {
        text-align: center;
    }
    p {
        font-size: 17px;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }

    //Hero
    .hero {
        height: 80vh;   
            .hero-content svg {
                height: 80%;
            }
    }

    // Header/Menu

    nav {
        min-height: 80vh;
    }

    //About
    .about-container {
        margin-bottom: 0;
        margin-top: 130px;

        .shapes-bg {
            // height: 100%;
            // top: -180px;
            // width: 80vw;
            // overflow: hidden;
              
            // svg {
            //     height: 100%;
                
            // }
            display: none;
        }
    
        .profile-bg {
            width: 80%;
            padding: 50px 10px;      
        }
    
        .profile-img {
            width: 160px;
            height: 160px;
            top: -100px;
        }  
    }
    // What I do

    .work-info-container {
        margin-top: 50px;
    }
    .work-info-box-1, .work-info-box-2 {

        .work-info-icon {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            svg {
                width: 50%;
                height: 50%;
            }           
        }
        .work-info-text {
            display: none;
        }

        .mobile-text {
            display: block;

        }
    }

    
    //Projects
    .project-box {
        height: 200px;
    }

    .hero-content {
        font-size: 16px;
    
    }

    .project-hero {
        height:100px;
    }

    //Contact Me
    .contact-container {
        margin: 20px 0;
        padding-top:0;
    }
    .profile-container {
        margin: 0;
        padding-top: 0;
    }
    .contact-form {
        width: 80vw;
    }
    .contact-info {
        text-align: center;
    }

    .contact-heading {
        display: none;
    }

    .contact-heading-sm {
        display: block;
        margin-bottom: 10px;
    }

    // .email-link {
    //     font-size: 20px;
    // }


    // Google Map
    .location-map {
        iframe {
            height: 40vh;
        }
    }

    // Privacy Policy
    .text-box {
        p {
            text-align: left;
        }
    }  
    .modal {
        min-width: 90vw;
        padding: 0;
    }
        
    .project-body {
        .project-info {
            margin: 10px 0;
            .project-text {
                margin: 20px 0;
            }
        }        
        .project-full {
            margin: 10px 0;
        }
            
        .project-conclusion {
            margin: 20px 0;
        }

    }  

    .footer {
        .menu-links {
            ul {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

