///////////////// Contact Me! //////////////////

.contact-container {
    margin: 30px 0;
    // background: rgb(255, 248, 254);
    width: 100%;
    padding: 50px 0;

    
    .profile-container {
        margin-right: 20px;
        height: 300px;
        
        .profile-img-container {
            width: 80%;
            height: 80%;
            margin-bottom: 20px;
            img {
                height: 100%;
                border-radius: 100%;
                box-shadow: 1px 1px 5px 0 #22222261;
            }
        }
        
        .social-icons {
            margin: 10px 0;
            
            i {
                margin: 0 10px;
            }
        }
    }
    
    .contact-heading {
        margin-bottom: 20px;
        
    }
    
    .email-box {
        .icon {
            margin-right: 10px;
        }
    }  
}

#submit {
    background: $main-color;
    color: #fff;
    font-family: $main-type;
    font-weight: 400;
    margin: 10px 0;
    
}


.contact-heading-sm {
    display: none;
}

///////////////// Google Map //////////////////
.location-map {
    
    iframe {
        min-height: 30vh;
    }
}

///////////////// Form //////////////////
.contact-form {
    width: 50vw;

    iframe {
        height: 105vh;
       
    }
}
