///////////////// Projects - From Home //////////////////

.projects-container {
    text-align:center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;

    .project-boxes {
        width: 100%;
        margin-top: 20px;

        .project-box {
            height: 260px;
            margin: 5px;  
            overflow: hidden;
            

            .thumb {  
                img {
                    height: 100%; 
                    width: 100%;
                    position: relative;  
                    box-shadow: 1px 0px 4px 0 #a1a1a1dc; 
                }

                .hover-text {
                    position: absolute;
                    color: #222;
                    font-size: 1em;
                }
            }
        }
    }
}

.project-box:hover {
    background: white;
}

///////////////// Projects - Single Project Page //////////////////
.project-hero {
    height:200px;
    background:$main-color;

    .hero-content {
        height: 200px;
        
        svg {
            height: 100%;
        }
    }   
}
.project-body {

    .project-info {
        margin: 80px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .project-image {
            overflow: hidden;
            img {
                width:100%;
            }
        }

        .project-text {
            text-align: center;
            margin: 30px 0;
        }
    }
    
    .project-full {
        overflow: hidden;
        margin: 80px 0;
    
        img {
            width: 100%;
        }
        .img-shadow {
            box-shadow: 0 2px 2px 0 #aaaaaa;
        }
    }
    
    .project-conclusion {
        text-align: center;
        margin: 80px 0;
    }
}


// POP UP WORK
.iframe-wrapper {
    position: fixed; 
  right: 0; 
  bottom: 0; 
  left: 0;
  top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  
}
iframe {
    height: 100%;
    width: 100%;
}

.modal {
   width: 300px;
   min-height: 200px;
}
